
.main {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 75px;
    text-decoration: tomato;
     border-radius: 3px;
    overflow: hidden;
    background: inherit;
    backdrop-filter:;
}

